= render "posts/header"
.register
  .register__page
    新規登録をしよう
    .register__page__form
      = form_with model: @user, url: user_registration_path, id: 'new-user', class: 'new_user',local: true do |f|
        .FormField__name
          = f.text_field :name, autofocus: true,placeholder: "name", class: "FormField__group"

        .FormField__email
          = f.email_field :email,placeholder: "email address", class: "FormField__group"

        .FormField__email
          = f.number_field :email,placeholder: "age", class: "FormField__group"

        .FormField__passwerd
          = f.password_field :password,autocomplete: "off",placeholder: "password", class: "FormField__group"

        .FormField__passwerd
          = f.password_field :password,autocomplete: "off",placeholder: "one more password", class: "FormField__group"

        .actions
          = f.submit "Sign up", class: "SubmitBtn"

    .MemberRegister__page__SignIn
      アカウントお持ちの方
      = link_to "サインインする", new_user_session_path
