- notifications = @notifications.where.not(visitor_id: current_user.id)
.Modal
  .notification
    通知
  .ContentBox
    - if notifications.exists?
      - @notifications.each do |notification|
        - visitor = notification.visitor
        - visited = notification.visited
        .contents
          = link_to user_path(visitor) do
            .contents__user
              .UserImage
                = image_tag visitor.image.url, class:"ContetsImage"
              .UserName
                = "#{visitor.name}さんが"
          .contents__content
            .comment
              - if notification.action == 'dm'
                あなたに
                = link_to "メッセージ","/rooms/#{visited.id}"
                を送りました
            .day
              = notification.created_at.strftime('%Y/%m/%d')
    - else
      .contents
        通知がありません