- notifications = @notifications.where.not(visitor_id: current_user.id)
.Modal
  .notification
    通知
    .close
      = icon('fas','times')
  .ContentBox
    - if notifications.exists?
      - @notifications.each do |notification|
        - visitor = notification.visitor
        - visited = notification.visited
        .contents
          = link_to user_path(visitor) do
            .contents__user
              .UserImage
                = image_tag visitor.image.url, class:"ContetsImage"
              .UserName
                = "#{visitor.name}さん"
          .contents__content
            .comment
              - if notification.action == 'dm'
                あなたに
                = link_to "メッセージ","/rooms/#{visited.id}"
                を送りました
            .day
              = time_ago_in_words(notification.created_at)+"前"
    - else
      .contents
        通知がありません