.EvaluateSide
  .EvaluateBox
    .UserEvaluate
      = "#{@user.name}さんを評価する"
    .UserKindness
      = "#{@user.name}さんをは親切でしたか？"
      .UserKindness__evaluate
        %button
          とてもよかった
        %button
          よかった
        %button
          普通
        %button
          悪かった
        %button
          とても悪かった
    .UserSpeedy
      = "#{@user.name}さんをは迅速でしたか？"
      .UserSpeedy__evaluate
        %button
          とても迅速だった
        %button
          迅速だった
        %button
          普通
        %button
          いまいち
        %button
          とても悪かった
    .OneMoreTime
      = "#{@user.name}さんにもう一度お願いしたいですか？"
      .OneMoreTime__evaluate
        %button
          必ずお願いしたい
        %button
          ぜひお願いしたい
        %button
          機会があればお願いしたい
        %button
          縁があればお願いしたい
        %button
          これっきりで・・・
    .SendBox
      %button
        = "#{@user.name}さんを評価する"
