.LogIn
  .LogIn__page
    .LogIn__page__title
      ユーザー情報の編集
    .LogIn__page__border
    .Form
      = form_with model: @user, url: user_path(@user.id), id: 'new-user', class: 'new_user',local: true do |f|
        .Form__imageBox
          .ImageHeading
            サムネイル
            .ImageHeading__UserImage 
          %div#previews
            .preview
              .preview__icon
                = icon('fas', 'image')
                .preview__text
                  投稿するとサムネイルが表示されます
          = f.file_field :image, id:'post_image',class:"FormField-image",accept: "image/png, image/jpeg"
        .Form__name
          .Form__name__title
            ニックネーム※
          .Form__name__InputForm
            = f.text_field :name, autofocus: true,placeholder: "name", class: "FormField__name"
            .error__message
              - if @user.errors.include?(:name)
                = @user.errors.full_messages_for(:name).first
        .Form__ExplanationBox
          .ExplanationHeading
            自己PR
            %span.required※必須
          .ExplanationForm
            = f.text_area :explanation,class:"FormField-Explanation",rows:"7",placeholder: "自己PRを書こう！"
        .Form__email
          .Form__email__title
            メールアドレス※
          .Form__email__InputForm
            = f.email_field :email,placeholder: "email address", class: "FormField__email"
            .error__message
              - if @user.errors.include?(:email)
                = @user.errors.full_messages_for(:email).first
        .Form__age
          .Form__age__title
            年齢※
          .Form__age__InputForm
            = f.number_field :age ,placeholder: "age", class: "FormField__age"
            .error__message
              - if @user.errors.include?(:age)
                = @user.errors.full_messages_for(:age).first
        .Form__address
          .Form__address__title 
            出身地
          .Form__address__InputForm
            = f.collection_select :address_id,Address.all, :id, :name,{prompt:"選択してください"},class:"FormField-adress"
        .actions
          = f.submit "更新", class: "SubmitBtn"