.UserPage
  .UserPage__ProfileBox
    .IntroductionSide
      .UserImage
        = image_tag @user.image.url
      .UserName
        = @user.name
      .UserAge
        = @user.age
      .UserArea
        = @user.address.name
      .UserIntroduction
      .UserFollow
        = icon("fa","heart")
      .UserEvaluate
      .UserEdit
        = icon('fas','edit')
    .PostSide
      .PostImage
      .PostDay
      .postIntroduction

