.UserPage
  .UserPage__title
    user page
  .UserPage__ProfileBox
    .IntroductionSide
      .UserImage
        = image_tag @user.image.url,class:"user-image"
      .UserName
        = "名前：#{@user.name}"
      .UserAge
        = "年齢：#{@user.age}"
      .UserIntroduction
        = "紹介文:#{@user.explanation}"
      .userAddress
        = icon("fa","map-marker-alt")+"#{@user.name}さんの住所:#{@user.address.name}"
      - if @user.id != current_user.id
        .UserEvaluate
          %button.EvaluateBtn
            = "#{@user.name}さんを評価する"
      = render "evaluate"
      .UserStatus
        他のユーザーの評価（平均点）
        .UserStatus__Kindness
          = icon('fa','smile') + "親切度 : #{@kindness} point"
        .UserStatus__speedy
          = icon('fa','shipping-fast') +"迅速さ : #{@speedy} point"
        .UserStatus__frantically
          = icon('fa','redo')+"repeat : #{@frantically} point"
        .UserStatus__comprehensive
          = icon('fa','star')+"総合力 : #{@comprehensive} point"
      .UserEdit
        - if @user.id == current_user.id
          = link_to icon('fas','edit')+"ユーザー情報を編集する", edit_user_path,method: :get,class:"EditBtn"
    .PostSide
      = "#{@user.name}さんの募集一覧"
      - @posts.each do |i|
        .PostImage
          = link_to post_path(i.id) do
            = image_tag i.image.url, class:"post-image"
          .PostImage__introduction
            = link_to post_path(i.id) do
              = i.explanation
        .PostDay
          = i.created_at.strftime('%Y/%m/%d')
