.UserPage
  .UserPage__title
    user page
  .UserPage__ProfileBox
    .IntroductionSide
      .UserImage
        = image_tag @user.image.url,class:"user-image"
      .UserName
        = "名前：#{@user.name}"
      .UserAge
        = "年齢：#{@user.age}"
      .UserIntroduction
        自己PR
      .UserIntroduction__content
      - if @user.explanation == nil
        ユーザー情報編集から自己PRを編集できます
      - else
        = @user.explanation
      .userAddress
        - if @user.address_id == nil
          = icon("fa","map-marker-alt")+"#{@user.name}さんの住所 : 未登録"
        - else
          = icon("fa","map-marker-alt")+"#{@user.name}さんの住所 : #{@user.address.name}"
        - if @user.id != current_user.id
          - if current_user.followed_by?(@user)
            .UserEvaluate
              評価は一人一回です
          - else
            .UserEvaluate
              %button.EvaluateBtn
                = "#{@user.name}さんを評価する"
      = render "evaluate"
      .UserStatus
        他のユーザーの評価
        .UserStatus__Kindness
          = icon('fa','smile') + "親切度 : #{@kindness.round(1)} point"
        .UserStatus__speedy
          = icon('fa','shipping-fast') +"迅速さ : #{@speedy.round(1)} point"
        .UserStatus__frantically
          = icon('fa','redo')+"repeat : #{@frantically.round(1)} point"
        .UserStatus__comprehensive
          = icon('fa','star')+"総合力 : #{@comprehensive.round(1)} point"
      .UserEdit
        - if @user.id == current_user.id
          %button.EditBtn
            = link_to icon('fas','edit') + "ユーザー情報を編集する", edit_user_path,method: :get,class:"EditBtn"
      .UserFollow
        %button.FollowBtn
          = link_to icon('fas','heart') + "フォローする","#",class:"FollowBtn"
      = render 'chat'
    .PostSide
      = "#{@user.name}さんの募集一覧"
      .PostSide__contents
        - @posts.each do |i|
          .PostImage
            = link_to post_path(i.id) do
              = image_tag i.image.url, class:"post-image"
            .PostImage__introduction
              = link_to post_path(i.id) do
                = i.explanation
          .PostDay
            = i.created_at.strftime('%Y/%m/%d')
      .PostSide__OneMoer
        = link_to "過去の募集をみる",recruitment_index_user_path(@user.id),class:"OenMore-text"