.UserChat
  .UserSide
    .UserSide__ChatUsers
      .UserSide__ChatUsers__NewMessage
        新着メッセージ
      - @rooms.each do |room|
        .contents
          = link_to "/rooms/#{room.id}" ,class: "link_to"do
            .contents__UsersData
              .contents__UsersData__UserImage
                = opponent_user_image(room)
              .contents__UsersData__UserName
                = opponent_user(room)
            .contents__LastMessag
              = most_new_message_preview(room)
            .contents__LastDays
              = most_new_message_preview_time(room)
  .MessageSide
    .MessageSide__Userheader
      .SendUser
        .SendUser__contents
          - @entries.each do |e|
            - if e.user.id != current_user.id
              .SendUser__contents__name
                = link_to "#{e.user.name}",user_path(e.user.id),class:"link_to"
              .SendUser__contents__area
                - if e.user.address_id != nil
                  = icon("fa","map-marker-alt")+"#{e.user.address.name}"
                - else
                  = icon("fa","map-marker-alt")+"未設定"
              .SendUser__contents__old
                = "#{e.user.age}歳"
        .SendUser__items
          %button.SendUser__items__report
            = icon('fa','flag')+"通報"
    .MessageSide__heading
      受信したメッセージ
    .MessageSide__MessageBox
      .MessageContents
        .MessageContents__content
          - @messages.each do |i|
            .MessageContents__content__UserData
              .UsersImage
                = image_tag i.user.image.url ,class:'user-image'
              .name
                = i.user.name
            .MessageContents__content__MessageData
              .message
                = i.messages
              - if i.image.url != nil
                .MessageImage
                  = image_tag i.image.url,class:'meassage-image'
              .day
                = i.created_at.strftime('%Y/%m/%d %H:%M:%S')
    .MessageSide__FormBox
      .Form
        = form_with(model: @message, local: true, id: "chat-commnet") do |f|
          .Form__InputSide
            = f.text_field :messages,placeholder: "メッセージを入力して下さい",class:"message-form"
            = icon('fas', 'image')
            .ModalWindow
              .ModalWindow__ImageBox
                .close
                  = icon('fas','times')
                .ModalWindow__ImageBox__title
                  画像を投稿しよう
                  %div#previews
                    .preview
                      .preview__text
                        投稿するとサムネイルが表示されます
                  = f.file_field :image, class:"FormField-image",accept: "image/png, image/jpeg",id: 'post_image'
                  .ModalWindow__ImageBox__submit
                    = f.submit "画像を投稿",class: "image-submit"
            = f.hidden_field :room_id, value: @room.id
            = f.submit "投稿",class: 'form-submit'