.wrapper
  .wrapper__index
    - @posts.each do |i|
      .contents
        .contents__image
          = link_to post_path(i) do
            = image_tag i.image.url, class:"Image"
        .contents__title
          = link_to i.title,post_path(i),class:"Image"
        .contents__tags
          - i.tags.each do |tag|
            .tag
              = tag.tag_name
        .contents__matter
          .contents__matter__recruitment
            = link_to i.explanation,post_path(i),class:"explanation"
          .contents__matter__user
            .UserImage
              aaaa
            .UserName
              = link_to i.user.name,user_path(i.user.id)
            .TimeStamp
              = "投稿日:#{i.created_at.strftime('%Y/%m/%d')}"
            