.details
  .details__DetailsBox
    .TitleBox
      .TitleBox__title
        = @post.title
    .TagBox
      .TagBox__RegistrationTag
        .title
          登録タグ
        - @post.tags.each do |post|
          .TagBox__RegistrationTag__tags
            =post.tag_name
    .ImageBox
      .ImageBox__image
        = image_tag @post.image.url, class:"details-Image"
    .ExplanationBox
      .ExplanationBox__contents
        .title
          募集内容
        .Address-icon
          = icon("fa","map-marker-alt")
        .Address
          = @post.address.name
      .ExplanationBox__matter
        = @post.explanation
    .contents
      .UserBox
        .UserBox__Contributor
          投稿者
        .UserBox__matter
          = link_to @post.user.name,user_path(@post.user.id),class: "user-link"
      .LicenseBox
        .LicenseBox__title
          必要資格、経験
        .LicenseBox__matter
          = @post.license.name
      .ObtainBox
        .ObtainBox__title
          手伝って得られるもの
          %br 提供できるもの
        .ObtainBox__matter
          = @post.obtain
    - if user_signed_in? && current_user.id == @post.user_id
      .CommentEdit
        = link_to  edit_post_path(@post),class:"EditBtn" do
          = icon('fa','edit')
          募集内容を編集
      .CommentDelete
        = link_to post_path(@post.id), method: :DELETE,class:"DeleteBtn" do
          = icon('fas', 'trash-alt')
          募集内容を削除
    .CommentForm
      = form_with(model: [@post,@comment], local: true, id: "new_comment") do |f|
        = f.text_area :text,class: "Comment-form",placeholder: "コメントする", rows: "2"
        = f.submit "コメントをする",class: "Comment-Send"
    .CommentWarning
      相手のことを考え丁寧なコメントを心がけましょう。
      %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .CommentSide
      .CommentSide__contents
        <コメント一覧>
        .content
          = render partial: "comments/destroy", locals: {post: @post}